.container {
  background-color: #333;
}

.nav-list {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(205, 177, 205);
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: rgb(194, 56, 108);
}
.order1 {
  font-size: 20px;
}
/* form */
/* Form Container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Form Item */
.form-item {
  margin-bottom: 15px;
}

/* Labels */
label {
  display: block;
  font-weight: bold;
}

/* Input Fields */
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Select Box */
.select-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button */
.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
